<h1>New weather_location</h1>

<%= error_messages_for :weather_location %>

<% form_for(@weather_location) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Key</b><br />
    <%= f.text_field :key %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', weather_locations_path %>
